body {
  font-family: sans-serif;
  text-align: center;
  font-size: 16px;
  background-color: antiquewhite;
  padding: 32px;
}

h1 {
  font-size: 48px;
}

hr {
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 16px;
}

.inputs-container {
  display: flex;
  gap: 24px;
}

.userlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-container {
  background-color: whitesmoke;
  box-shadow: 0px 3px 8px rgb(0 0 0 / 24%);
  border-radius: 10px;
  padding: 4px 16px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-left: 20px;
  background-color: whitesmoke;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  color: #111;
  box-shadow: 0px 3px 8px rgb(0 0 0 / 24%);
}

label {
  margin: 0.5%;
}

.error {
  color: crimson;
  font-size: 18px;
  margin: 8px;
}

.submit button {
  margin-top: 12px;
  box-shadow: 0px 3px 8px rgb(0 0 0 / 24%);
  border-radius: 6px;
  padding: 6px 12px;
  background-color: whitesmoke;
  border: none;
}

button:hover {
  background-color: grey;
  color: whitesmoke;
}
